/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:       MJDevelopZ
Author URI:   http://www.seraphinaknits.com
Template:     accelerate-theme
Version:      1.1
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

@import url("../accelerate-theme/style.css");

/*Homepage Styles*/
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll center / cover rgba(0, 0, 0, 0);
}

.blog-post{
	width: 50%;
}

.blog-post h4{
	font-family: 'Montserrat';
	font-size:16px;
	color: #a6a6a6;
	text-transform: uppercase;
}

.blog-post h2{
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: bold;
}

.blog-post .read-more-link{
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: bold;
	color: #45ac9d;
	text-transform: uppercase;
}

/*Top Navigation*/
#masthead{
	background: none repeat scroll 0 0 #45AC9D;
}

#masthead nav ul {
	list-style-type:none;
}

#masthead nav ul li{
	list-style-type: none;
	display: inline;
	font-family: 'Open Sans';
	font-size: 14pt;
	font-weight: normal;
	line-height: 27.5pt;
	text-transform: uppercase;
	margin-right: 40px;
}

/*Homepage Btn*/
.button{
	background: none repeat scroll 0 0 #45AC9D;
}

/*Case Studies*/
aside.case-study-sidebar{
	float: left;
	width: 300px;
}

aside.case-study-sidebar h2{
	font-family: 'Open Sans';
	font-weight: 525;
	font-size: 20pt;
	color: #3b3b3b;
	margin-bottom: 0px;
	margin-top: 36px;
}

aside.case-study-sidebar h5{
	font-family: 'Open Sans';
	font-size: 11pt;
	font-weight: normal;
	color: #878787;
	margin-top: 12px;
	margin-bottom: 0px;
}

aside.case-study-sidebar h6{
	font-family: 'Open Sans';
	font-size: 11pt;
	font-weight: normal;
	margin-top: 12px;
	margin-bottom: 36px;
}

aside.case-study-sidebar p{
	font-family: 'Open Sans';
	font-size: 13pt;
	font-weight: normal;
	color: black;
	margin-top: 8%;
}

div.case-study-images{
	float: left;
	margin-left: 50px;
	width: 600px;
}

div.case-study-images img{
	display: block;
	margin-bottom: 50px;
	border: 1px solid #ddd;
	height: auto;
	width: 600px;
}

/*Homepage Featured Work*/
.featured-work h4{
	font-family: 'Montserrat';
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

ul.homepage-featured-work{
	list-style-type: none;
}

li.individual-featured-work{
	list-style-type: none;
	display: inline-block;
}

.individual-featured-work h3{
	font-family: 'Open Sans';
	font-size: 16.5pt;
	font-weight: normal;
	text-align: center;
}

figure.featured-work-image img{
	padding: 35px;
	border: 1px solid #ddd;
}

/*Work Landing Page - Archive */

