<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=accelerateUkdja;pwd=&quot;eww#=8}[hE}R&quot;;Database=accelerate-mjdz" name="accelerate-mjdz" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
